<div class="container">
  <div class="mb-lg">
    <%= link_to fa_icon('arrow-left'), :back, title: 'Назад' %>
  </div>

  <h2 class="title-lg mb">Редактирование вопроса <%= @question.id %></h2>

  <%= render 'form', question: @question %>
</div>
