<div class="container">
    <div class="mb-lg">
      <%= link_to fa_icon('arrow-left'), :back, title: 'Назад' %>
    </div>

    <%= render 'question', question: @question %>

    <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
