<%= form_with(model: question_hashtag) do |form| %>
  <% if question_hashtag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question_hashtag.errors.count, "error") %> prohibited this question_hashtag from being saved:</h2>

      <ul>
        <% question_hashtag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
