<p style="color: green"><%= notice %></p>

<h1>Question hashtags</h1>

<div id="question_hashtags">
  <% @question_hashtags.each do |question_hashtag| %>
    <%= render question_hashtag %>
    <p>
      <%= link_to "Show this question hashtag", question_hashtag %>
    </p>
  <% end %>
</div>

<%= link_to "New question hashtag", new_question_hashtag_path %>
