body {
  background: #013F4E;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #fff;
}

.container, .navbar {
  padding: 20px;
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.hidden {
  opacity: 50%;
}
