.message {
  border: 2px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background-color: #ffeec2 ;
  border-color: #058240;
}

.message-alert {
  background-color: #ffeec2 ;
  border-color: #EA592A;
}
