.user-box {
  align-items: center;
  background-color: #f48c06;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.user-box a {
  color: white;
}